:root {
  /* colors */
  --background1: #b9b9b9;
  --background2: #dedede;
  --menu: #ffffff;
  --font: #000000;
}

html {
  box-sizing: border-box;
  /* font-family: "Source Code Pro", monospace; */
  font-family: "Poiret One", cursive;
  font-size: 100%;
  font-weight: 600;
  background: #000000;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 70rem;
  margin: auto;
  color: var(--font);
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: inherit;
  max-width: inherit;
  background: var(--menu);
}

.logo {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  font-size: 1.2rem;
}

.navigation {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;
}

.navigation > li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.navigation > li:hover {
  cursor: pointer;
}

.mobile-navigation {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  list-style-type: none;
  height: 4rem;
  width: inherit;
  max-width: inherit;
  background: var(--menu);
}

.mobile-navigation > li {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  /* border-right: 2px solid black; */
}

.mobile-navigation > li:last-child {
  border: none;
}

.mobile-navigation > li:hover {
  /* color: white; */
  /* background: black; */
  cursor: pointer;
}

.content {
  width: inherit;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content > div {
  width: inherit;
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--background1);
}

.content > div:nth-child(even) {
  background: var(--background2);
}

#kontakt {
  justify-content: flex-end;
}

.contact-form {
  flex: 1;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: inherit;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: var(--background1); */
  /* font-weight: 400; */
  font-size: 0.8rem;
}

/* smarphone portrait */
@media (min-width: 320px) and (max-width: 480px) {
  .mobile-navigation {
    display: flex;
  }
  .navigation {
    display: none;
  }
  .content {
    margin-bottom: 4rem;
  }
  .content > div {
    min-height: calc(100vh - 8rem);
  }
}

/* smartphone landscape */
@media (min-width: 481px) and (max-width: 850px) {
  .content {
    margin-top: 3rem;
  }
  .content > div {
    min-height: calc(100vh - 3rem);
  }
  header {
    height: 3rem;
  }
  footer {
    height: 3rem;
  }
}
