html {
  box-sizing: border-box;
  /* font-family: "Source Code Pro", monospace; */
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  border-bottom: 2px solid black;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  border-top: 2px solid black;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
