/* {{{ general */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

:root {
  /* colors */
  --light: #e6e3ea;
  --dark: #1d1c22;
}

html {
  box-sizing: border-box;
  font-family: "Poiret One", cursive;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #2d2d2d;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 100%;
  max-width: 1000px;
  /* max-width: 600px; */
  margin: 0 auto;
  margin-bottom: 3.5rem;
  /* box-shadow: 0px -3.5rem 3px 2px white; */
}
/* }}} */

/* {{{ navbar */
.navigation {
  width: inherit;
  max-width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  list-style-type: none;
  position: fixed;
  bottom: 0;
  height: 3.5rem;
  color: var(--light);
  background: var(--dark);
  font-size: 1.2rem;
  font-weight: 600;
  z-index: 10;
}

.navigation li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: inherit;
  transition: all 0.2s ease-out;
}

.navigation li:hover {
  filter: brightness(0.5);
  cursor: pointer;
}

.navigation .playmusic,
.navigation .linkstoggle {
  max-width: 3.5rem;
  font-size: 1.5rem;
}

.navigation .navtitle {
  display: none;
}
/*}}}*/

/* {{{ linkbar */
.links {
  display: flex;
  flex-direction: column;
  width: 3.5rem;
  list-style-type: none;
  position: fixed;
  bottom: 0;
  margin-bottom: 3.5rem;
  background: var(--dark);
  color: var(--light);
  font-size: 1.5rem;
  transform: translate(0%, 100%);
  transition: all 0.2s ease-out;
}

.links li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}

.links.active {
  transform: translate(0%, 0%);
}

.links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--light);
  transition: all 0.2s ease-out;
}
.links a:hover {
  filter: brightness(0.5);
}
/* }}} */

/* {{{ content */
/* {{{ content general */
.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: inherit;
  min-height: calc(100vh - 3.5rem);
  background: var(--light);
  color: var(--dark);
  padding: 0rem 1rem 0rem 1rem;
}

.content h1 {
  padding: 3rem 0rem 3rem 0rem;
  font-size: 2.2rem;
}

.content:nth-child(even) {
  background: var(--dark);
  color: var(--light);
}

.content.first {
  width: inherit;
  max-width: inherit;
  position: fixed;
  background: url("/assets/pics/stuhl_1280px.jpg");
  background-size: cover;
  background-position: 50% 15%;
  z-index: -1;
}
/* }}} */

/* {{{ info */
.info {
  margin-top: 100vh;
  padding-bottom: 3rem;
  justify-content: space-between;
}

.info p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  text-align: center;
  max-width: 600px;
  line-height: 1.5;
}

.info a {
  font-weight: bold;
  text-decoration: none;
  color: var(--bright);
}

.info a:hover {
  color: brown;
}
/* }}} */

/* {{{ musik */
.musik {
  /* padding-bottom: 2rem; */
}

.playerwrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.player {
  width: 18rem;
  height: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 3rem;
}

.player .title {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.title span {
  font-weight: bold;
}

.player radial-player {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--dark);
  border: 4px solid var(--dark);
  transition: all 0.2s ease-out;
}

.player radial-player:hover {
  transform: scale(0.96);
}
/* }}} */

/* {{{ kontakt */
.kontakt {
  justify-content: space-between;
  padding: 0;
}

.kontakt form {
  width: 100%;
  max-width: 600px;
  padding: 0 1rem 0 1rem;
}

.kontakt form > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  list-style: none;
  width: inherit;
}

.kontakt form > ul > li {
  display: flex;
  flex-direction: column;
  width: inherit;
  margin-bottom: 1rem;
}

.kontakt form > ul > li > label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.kontakt form > ul > li > input,
.kontakt form > ul > li > textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem;
  background: var(--light);
}

.kontakt form > ul > li > input:valid,
.kontakt form > ul > li > textarea:valid {
  background: #cee6ce;
}

.kontakt form > ul > li > textarea {
  /* height: 20vh; */
  height: 8rem;
}

.kontakt form > ul > li > button {
  font-family: "Poiret One", cursive;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem;
  margin: 1em auto 0 auto;
  background: var(--light);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark);
  color: var(--light);
  height: 3.5rem;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

footer a {
  text-decoration: none;
  color: var(--light);
}
/* }}} */
/* }}} */

/* {{{ media queries */
/* {{{ smartphone landscape */
@media (min-width: 481px) {
  /* and (max-width: 850px) { */
  .content.first {
    background-position: 50% 22%;
  }

  .first h1 {
    display: none;
  }

  .navigation {
    top: 0;
  }

  .navigation .navbutton {
    flex: 1;
  }

  .navigation .navtitle {
    display: flex;
    flex: 4;
    justify-content: flex-start;
    padding-left: 3rem;
    font-size: 1.5rem;
  }

  .navigation .playmusic,
  .navigation .linkstoggle {
    max-width: 3.5rem;
  }

  .wrapper {
    margin-bottom: 0;
    margin-top: 3.5rem;
  }

  .links {
    top: 0;
    bottom: auto;
    margin-top: 3.5rem;
    margin-bottom: 0;
    transform: translate(0%, -100%);
  }
}

.info {
}
/* }}} */

/* {{{ desktop */
@media (min-width: 851px) {
  .wrapper {
    margin-top: 4.5rem;
  }

  .content {
    min-height: calc(100vh - 4.5rem);
  }

  .navigation {
    height: 4.5rem;
  }

  .navigation .playmusic,
  .navigation .linkstoggle {
    max-width: 4.5rem;
  }

  .links {
    margin-top: 4.5rem;
    width: 4.5rem;
  }

  .links li {
    height: 4.5rem;
  }
}
/* }}} */
/* }}} */
